    <header>
        <nav>
            <ul>
                <li><a href="/home">Главная</a></li>
                <li *ngIf="authService.isAuthenticated()"><a href="/personal-area">Личный кабинет</a></li>
                <li *ngIf="authService.isAuthenticated()"><a href="/booking">Записаться</a></li>
                <li *ngIf="authService.isAuthenticated()"><a href="/appointments">Мои записи</a></li>
                <li><a href="/about">О нас</a></li>
                <li style="float: right; margin-right: 10%;">
                    <a *ngIf="authService.isAuthenticated()" href="#" (click)="authService.onLogout()">Выход</a>
                    <a *ngIf="!authService.isAuthenticated()" href="/login">Вход</a>
                </li>
            </ul>
        </nav>
    </header>