    <div class="main">
        <div class="about">
            <h1>SPA CRM</h1>
            <p>Добро пожаловать в нашу CRM систему для SPA салона! Мы предоставляем платформу, которая поможет вам управлять вашим бизнесом и обеспечить лучший сервис для ваших клиентов.</p>
            <h2>Для покупателей:</h2>
            <p>Вашим клиентам будет легко записываться на услуги, просматривать свои предыдущие посещения, а также получать персонализированные предложения и скидки.</p>
            <p>Наша удобная интерфейс позволяет легко отслеживать баланс баллов и просматривать историю ваших транзакций.</p>
            <h2>Для продавцов:</h2>
            <p>Как владелец спа-салона, вы можете использовать нашу платформу для управления клиентскими данными, записей на услуги, а также анализировать данные для улучшения вашего бизнеса.</p>
            <p>Наша система обеспечивает обновления в реальном времени, обеспечивая точное отслеживание всех процессов и повышение эффективности вашего бизнеса.</p>
        </div>
    </div>